[2017-12-10 01:35] mikey0000 opened #2 "add touch pad from Xiaomi Mi Notebook Pro"
04f3:0c1a is the device ID, I am happy to compile etc to test. Even write code once pointed in the right direction. Thanks.

[2017-12-14 06:46] motimen1 opened #3 "Python/Django?"
Здравствуйте, Игорь!
Сразу хочу извиниться, что пишу вам в гитхаб в issue.
Я ищу разработчика с опытом в Python под веб от 2-х лет до 100 лет (а опыт с Python-ом у вас есть, судя по репозиторию :), опытом в Django, опытом работы с JavaScript-ом (желательно какой-нибудь высокоуровневый фреймворк, но пойдет и просто jQuery) и возможностью разговаривать по-английски (можно с ошибками и акцентом, это

[2018-01-05 13:12] MetaColon commented on #2
Same here

[2018-01-09 08:47] iafilatov commented on #2
@mikey0000 For now you can refer to frpint mailing list. There's a number of threads which could help
https://lists.freedesktop.org/archives/fprint/2017-March/000868.html
https://lists.freedesktop.org/archives/fprint/2017-November/000893.html
https://lists.freedesktop.org/archives/fprint/2017-November/000895.html
https://lists.freedesktop.org/archives/fprint/2018-January/000920.html

[This commit]

[2018-01-09 09:24] mikey0000 commented on #2
Thanks I'll take a look soon.

On 9 January 2018 21:47:24 GMT+13:00, Igor Filatov <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-01-17 08:50] mikey0000 commented on #2
on a side note, testing with fingerprint gui, it recognised the swipe when I selected the unknown device (elan) so the existing driver should be a good starting point.

[2018-01-17 11:05] iafilatov commented on #2
Thanks. We now have a lot more info on the protocol and modes of these readers today (see the mailing list). Hopefully I'll be able to integrate it into the driver soon.

[2018-01-18 18:33] Garuda44 commented on #2
I also have request for the support of fingerprint sensor at Xiaomi Mi Notebook. If I could help somehow I'll be happy to do it, but I cannot do reverse engineering.

[2018-01-30 13:55] jknvv13 commented on #2
Ok, Mi Notebook Pro here.
Actually it... kinda works. But it requests to swipe the finger instead of tapping, fprint says:
Enroll result: enroll-swipe-too-short ←← If you lift the finger fast.
Enroll result: enroll-retry-scan ←← If you do not swipe it slowly, no matter how much you left the finger on the sensor, it requires to swipe.

[2018-01-30 13:58] jknvv13 commented on #2
Oh, and actually "img_capture" gets this, I don't know if this is normal or what.

[finger.zip](https://github.com/iafilatov/libfprint/files/1677913/finger.zip)

[2018-01-30 14:40] iafilatov commented on #2
@jknvv13 Well... there's a reason it wants you to swipe. Can't make these elans work otherwise. Please see https://bugs.launchpad.net/ubuntu/+source/libfprint/+bug/1641290/comments/41

[2018-01-30 17:40] jknvv13 commented on #2
This is a fprint issue or something on the driver actually?

[2018-01-30 17:40] jknvv13 commented on #2
This is a fprint issue or something on the driver actually?

[2018-01-30 18:27] iafilatov commented on #2
This is because of the algo that libfprint uses for matching. It's common for all drivers. That algo works best when it has at least 60% of the fingerprint. Compare that to the area that your reader can cover. In my case it's 20-25%.

[2018-01-30 18:58] jknvv13 commented on #2
And can this be solved or this will be stuck forever in a "swipe" world?
🤦‍♂️

El mar., 30 ene. 2018 19:27, Igor Filatov <notifications@github.com>
escribió:

[2018-01-30 19:04] iafilatov commented on #2
It can if someone implements a different algo or finds a usable lib that can be distributed with libfprint. Not a simple task. I wouldn't say "forever" but for now it's gonna be swipe.

[2018-01-31 18:59] Garuda44 commented on #2
Sorry but my Xiaomi doesn't see the device.

[2018-02-11 10:43] Teetoow opened #5 "Elan 0903 fingerprint bug"
Hi,

First of all, thank you for your work on developing a driver for these Elan hardware. I followed your discussion on launchpad and I understand it was a hard job

I just tried the last version of fprint and tried to use my Elan device. img_capture works well and enroll works for some time. However after 2-4 times of scanning my fingerprint a bug occurs and the device seems to not respond. Here

[2018-02-11 10:45] Teetoow commented on #5
I forgot to specify that the device does not respond anymore after that. I need to suspend / resume the laptop to get it working again for some time...

[2018-02-20 20:50] Katerou22 opened #6 "nss package not found"
I also installed libnss3 and all dependencies but said No Package nss Found!

[2018-02-22 20:39] iafilatov commented on #6
Are you trying to compile? What commands are you running? Could you please post the output?

[2018-02-22 20:40] iafilatov commented on #2
@Garuda44 I've added more devices to the supported list. Could you please try the latest code?

[2018-02-24 22:43] Dreamwork57 commented on #2
First, I wanna thank you all for trying to bring elan fingerprint readers to work.

I've tried out this driver for my Xiaomi Mi Notebook Pro, because I needed a driver that worked with the fingerprint reader.
Right now it does work, meaning it recognize the hardware, and my finger (that's the good part).
Now, beyond the fact you must swipe to use the sensor, it also cannot log me. And of the top o

[2018-02-25 12:45] iafilatov commented on #2
@Dreamwork57 Can you please post the logs from examples/enroll and examples/verify? There's also the last enrolled image from examples/enroll called enrolled.pgm. If you don't mind, could you please send it to me ( my github handle at gmail )? If you do, please just describe what you see. Assembling of frames should work correctly with the latest code but from what people report, I still have doub

[2018-02-26 02:43] IsoaSFlus commented on #2
@Dreamwork57  I got the same problem. And I'm MiNote 13.3. It always get  "swipe too short" and doesn't respond any more. This problem makes it hard to enroll a fingerprint. Although I have enrolled my fingerprint successfully five times, I cannot verify my fingerprint correctly.

[2018-02-26 09:27] iafilatov commented on #2
Ok, found it. Should be fixed by ea406e4.

[2018-02-26 09:36] mikey0000 commented on #2
Awesome that should fix my issues too.

On 26 February 2018 22:27:49 GMT+13:00, Igor Filatov <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-02-26 10:05] Dreamwork57 commented on #2
Thanks for the answer and the fix, I'll test it as soon as released.
It would be great to make this sensor work.

[2018-02-26 10:37] iafilatov commented on #2
This won't get to the upstream for a while. The only way to use it (except with 0907) for now is to clone this repo, build and install.

[2018-02-27 02:46] IsoaSFlus commented on #2
@iafilatov  Thanks for your effort. After some tests, I think it has fixed freezing on enroll with swipe too short. But on verifying,  when I get "swipe too short", it will be freezed without any retry.

[2018-02-27 14:10] maciel310 opened #7 "Scanner rotated on Acer Swift 5"
It appears that on the Acer Swift 5 the fingerprint sensor is rotated 90 degrees from where this driver expects it to be, resulting in images that don't stitch together properly. Seems like the code assumes that the driver is positioned like this:

XXXXXXX
XXXXXXX
XXXXXXX

But on my laptop it is like this:

XXXX
XXXX
XXXX
XXXX

The code works otherwise for scanning the print, it just stitches the

[2018-02-27 14:20] iafilatov commented on #7
Alas, one of my greatest fears comes true! The rotated scanner. The problem is, libfprint already tries to stitch in two directions: bottom to top and top to bottom (it then selects the best image). To accommodate 90 deg rotated readers it would need to rotate every frame and repeat the procedure, resulting in 4 assembly attempts overall. I don't think the maintainers will like it. Unless it's a s

[2018-02-27 14:36] maciel310 commented on #7
Pretty tame for your greatest fear ;)

The device ID from lsusb is 04f3:0c03

[2018-02-27 15:22] iafilatov commented on #7
I only have one report of 0c03 and I don't know if it's rotated (in fact, it's NOT rotated, all other are). So I guess I can just special-case your device and see what happens.

[2018-02-27 15:31] maciel310 commented on #7
Sounds good. Let me know when there's something to test and I'll pull and give it a go. Thanks for looking!

[2018-02-28 01:03] IsoaSFlus commented on #2
@iafilatov GREAT! It works perfect. Thank you very much!

[2018-02-28 07:37] iafilatov commented on #2
@mikey0000 @Dreamwork57 Please see if you still have the lock-ups, if not, I'll close this issue.

[2018-02-28 07:42] Dreamwork57 commented on #2
@iafilatov I won't be able to test it out until this very afternoon (in 8-9hours, don't know were you're located)
So i'll tell you then

[2018-02-28 09:37] iafilatov commented on #7
I've made some changes, please see it they help.

[2018-02-28 18:40] mikey0000 commented on #2
I'll give it a go

On 28 February 2018 20:42:53 GMT+13:00, Dreamwork57 <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-02-28 19:59] Dreamwork57 commented on #2
Ok so now it actually works, the enroll is working perfectly but I still have some problems to login with the fingerprint. Pretty sure that it doesn't have anything to do with the driver, but if someone could give me an answer, I'll be thankful :
When I lock the computer and then try to login, at first I can't use the fingerprint (it doesn't work, doesn't make any life sign) so I tap my password a

[2018-02-28 20:50] mikey0000 commented on #2
the fprint-demo app doesn't seem to work now. Dunno whats going on there, however the fingerprint-gui works great. Scanning is definitely working well as well as verifying. Will check login.

[2018-02-28 21:46] mikey0000 commented on #2
having udev issues trying to get fingerprint-gui to work without sudo.. getting there.

[2018-02-28 21:59] #2 closed

[2018-03-11 00:42] kjhoerr commented on #2
Not sure if a different Arch group exists for managing devices, but I added the `plugdev` group as @mikey0000 mentioned. In Arch you can't just change group/ownership of a device though, since that gets reset when rebooting. I had to create a rules file for udev:

    # /etc/udev/rules.d/elan-fprint.rules
    ATTR{idVendor}=="04f3", ATTR{idProduct}=="0c1a", GROUP="plugdev"

Then all that was requi

[2018-03-24 21:48] Yoshiyes commented on #6
The correct package is libnss3-dev.

[2018-04-13 11:36] moore-bryan opened #8 "Build Fails with Syntax Error"
While trying to build, I get a syntax error:
[code]
I tried searching for a solution, but didn't come up with anything...

[2018-04-13 12:26] iafilatov commented on #8
Do you have pkg-config installed? Try running
pkg-config --modversion libusb-1.0

[2018-04-13 17:54] moore-bryan commented on #8
That fixed it, thanks! Just an FYI, the autogen completed, but gave a warning at the end:
`configure: WARNING: unrecognized options: --enable-maintainer-mode`

[2018-05-04 08:39] Larnal opened #9 "sudo command broken, shared libraries not found"
Hi,

I installed the drivers then I got strange messages when typing sudo command in terminal. I tried to remove the driver by deleting the shared libraries in /usr/local/lib, now sudo command is completely broken.

Here is the message I got each time I type sudo command:
[code]
then entering my password give me a error message and I can do nothing.

I run Linux Mint 18.3 Cinnamon based on Ubuntu

[2018-05-04 13:30] Larnal commented on #9
I found the solution.
I may have broken my system by touching files of libfprint package. I restarted on USB Live, chrooted and removed the package involved.

[2018-05-04 13:30] #9 closed

[2018-05-04 16:35] stefanocirici opened #10 "No prerequisite list found"
I had problems compiling cause many libs were missing.
Here it is a list of what I had to install to make it working:
- `pkg-config`
- `libtool`
- `m4`
- `automake`
- `libusb-1.0.0-dev` (I had to compile it from [source](https://github.com/libusb/libusb/releases))
- `libudev-dev`
- `libnss3-dev`
- `libglib2.0-dev`
- `libpixman-1-dev`
- `libxv-dev`

Probably the list it's not complete but I am quit

[2018-05-05 08:23] pklaus opened #11 "fprintd-enroll times out"
I'm on Arch Linux (rolling release distro) with a very recent version of fprint: 0.8.0-1

After installing the modified libfprint library, running fprint-enroll times out with the following error:

    [philipp@lion ~]$ fprintd-enroll
    list_devices failed: Failed to activate service 'net.reactivated.Fprint': timed out (service_start_timeout=25000ms)

Using `examples/enroll` and `examples/verify

[2018-05-05 08:30] iafilatov commented on #11
Hm, not really sure. If you compile and instald libfpring with debug logging (autogen.sh), you'll get debug output in syslog. Also maybe check if fprintd is running?

[2018-05-05 09:02] pklaus commented on #11
I'll see about the syslog. How can I check fprintd is running? Who's starting the daemon? fprintd-enroll? If so, is it terminating, when the tool ends?

Funny enough, my self-compiled version of fprint_demo works perfectly:

    git clone git://github.com/dsd/fprint_demo.git
    cd fprint_demo
    export PKG_CONFIG_PATH=/usr/local/lib/pkgconfig
    ./configure --prefix=/usr/local
    make
    # ru

[2018-05-05 09:04] pklaus commented on #11
Ah, I see. The syslog revealed the problem:

So that systemd thing has to get to know the new library path (/usr/local/lib)...

[2018-05-05 11:13] pklaus commented on #11
So the problem was that the system didn't know about this additional library path "/usr/local/lib". When calling a tool from the command line, you can set the environment variable LD_LIBRARY_PATH (like in `LD_LIBRARY_PATH=/usr/local/lib/ ./src/fprint_demo`). But for the system wide library locations, the correct place to register them is `/etc/ld.so.conf` or a new .conf file in `/etc/ld.so.conf.d/

[2018-05-05 11:13] #11 closed

[2018-05-05 19:54] iafilatov commented on #6
Pls reopen if the suggestion above doesn't help.

[2018-05-05 19:54] #6 closed

[2018-05-10 08:19] FliiFe commented on #10
I did not have to compile libusb from source, I just installed the package (also, I have both `-dev` and non-`dev` variants, but I'm guessing only the `dev` variant is used)

[2018-05-10 08:52] FliiFe opened #12 "Trying to make 04F3:3057 work"
I have an `ELAN1300:00  04F3:3057` touchpad with included fingerprint sensor. The thing is, I'm not even sure the fingerprint sensor should be listed separately as its own input device, but it's currently not (in `/proc/bus/input/devices` only the touchpad is listed).

Then I'd like to see if this driver can work out of the box for this fingerprint sensor (I don't know any C at all, unfortunately)

[2018-05-15 16:05] iafilatov commented on #12
So far all Elan fp sensors recognized by this driver have come up as separate devices (i.e. in lsusb), even integrated in touchpad. So normally I'd expect it to show. Unless it's some kind of new device that's sooo integrated it needs just one driver. If you want try attaching this driver, copy the line at https://github.com/iafilatov/libfprint/blob/elan/libfprint/drivers/elan.h#L158 and set `.pro

[2018-05-18 17:09] stefanocirici commented on #5
Same problem.
My log [here](https://pastebin.com/eqDPG4FS).

[2018-05-28 18:17] iafilatov commented on #11
I'm glad it works for you. I don't know and certainly make no claim about how it compares to Windows touch-mode operation in terms of security. There's no data to say whether it's more or less secure in practice. All I can say is that the algo that libfprint uses is well-studied and robust. If it actually matches your print, it's not by chance.

[2018-05-31 22:01] arogozhnikov commented on #2
Hey, as some kind of feedback - I've successfully installed the latest version, but verification results in too many false negatives (1 successful in ~10 attempts)

[2018-06-02 03:42] jpreston84 opened #13 "Support for 2542"
Hi,

I have an Asus Vivobook 14 Flip. It has an Elan fingerprint reader, which shows up as 04f3:2542. I was wondering how hard it would be to add support for this device to your driver.

Here's the output of lsusb...

Bus 002 Device 009: ID 0bda:8153 Realtek Semiconductor Corp.
Bus 002 Device 008: ID 2109:0813 VIA Labs, Inc.
Bus 002 Device 001: ID 1d6b:0003 Linux Foundation 3.0 root hub
Bus 001 De

[2018-06-02 09:34] iafilatov commented on #13
Hi,

I wrote up a [how-to on adding new devices to the driver](https://github.com/iafilatov/libfprint#unrecognized-devices). If your reader responds in any way, then it could work. If not, it's probably an entirely different device with a different protocol, and this driver is useless for it.

[2018-06-02 09:37] iafilatov commented on #12
There's now a how-to [here](https://github.com/iafilatov/libfprint#unrecognized-devices).

[2018-06-02 22:07] jpreston84 commented on #13
All right -- I followed your instructions (after installing a large number of dev packages). Here's what I got...

(venv) root@MyComputer:~/libfprint/builddir_dbg# examples/img_capture
Found device claimed by ElanTech Fingerprint Sensor driver
elan:error [dev_init] could not claim interface 0: LIBUSB_ERROR_BUSY
async:error [fp_async_dev_open] device initialisation failed, driver=elan
Could not ope

[2018-06-03 05:27] iafilatov commented on #13
"Device busy" means it's already open by another driver. So it's not an fp reader. Maybe a touchpad. Or maybe scanner and touchpad register as a single device. Unfortunately, it's not possible to talk to such readers with libfprint.

[2018-06-09 12:52] #13 closed

[2018-06-09 12:52] #12 closed

[2018-06-24 11:01] iafilatov commented on #10
https://github.com/iafilatov/libfprint#pre-requisites

[2018-06-24 11:01] #10 closed

[2018-06-26 14:42] moore-bryan opened #14 "Native dependency "udev" not found, but libgudev & libgudev-devel installed"
Any thoughts?
[meson-log.txt](https://github.com/iafilatov/libfprint/files/2137606/meson-log.txt)

[2018-06-26 14:47] iafilatov commented on #14
libudev-devel?

[2018-06-26 14:50] moore-bryan commented on #14
I'm on Solus and that's the "dev" name...

[2018-06-26 14:56] iafilatov commented on #14
Without the "g". libudev and libgudev are different projects. You need headers for libudev.

[2018-06-26 14:58] moore-bryan commented on #14
Solus doesn't have libudev, only libgudev; well, it does have python3-pyudev, but I already have that installed and still no love.

Guess I'll need to go compiling!

[2018-06-26 15:09] moore-bryan commented on #14
It looks as though installing systemd-devel on Solus fixes this issue... thanks for being my sounding board!

[2018-06-26 15:09] #14 closed

[2018-06-26 15:13] iafilatov commented on #14
Here's what I found https://solus-project.com/forums/viewtopic.php?t=10141

[2018-06-29 06:47] Mumrau commented on #5
Hello.

I've faced the same issue but now I cannot get my fingerprint sensor to work either on Linux or even on Windows. It seems the unlikely event of breaking the device actually happened.
Anyone could possibly help with a way of unlocking it (I get "Device cannot start" under windows, and on linux it just seems to stop responding).

Thanks in advance.

[2018-06-29 06:54] iafilatov commented on #5
Hi,
Did you try to power-cycle the sensor? Usually a reboot or a cold boot helps. I don't know how you're switching from LInux to Win but if you're just sending the USB device to VM and back it won't help.

[2018-06-29 07:09] Mumrau commented on #5
I finally fixed it. Looks like even after a reboot and switching in grub (I got dual-boot, no VMs here), the sensor didn't truly power-cycle and remained in an unstable (and thus failing) state.
I forced a power shutdown (a complete one) by going through BIOS, reinstalled driver and it looks back alive on Windows. Seems like with all the power saving options, reboots are no longer proper reboots !

[2018-06-29 08:02] iafilatov commented on #5
@Mumrau If you don't mind, could you please send me a couple of "messy" examples? I'm wondering if it's because of bad frame quality or problems with assembling the final image. If you're ok, you can find my email [here](https://lists.freedesktop.org/archives/fprint/2018-June/001046.html).

[2018-06-29 08:08] Mumrau commented on #5
I panicked and (stupidly) delete my libfrprint folder. I'm redoing the process quickly.

[2018-06-29 08:11] iafilatov commented on #5
No rush. A couple of examples/img_capture pgm's would be enough. You reader shouldn't lock from that.

[2018-06-29 08:15] Mumrau commented on #5
I had a decent image once, so I couldn't resist trying the enrolling...
Which lead me here, my sensor "locked" on the third input with these logs :
[code]
I sent you the email.

[2018-07-17 06:10] iafilatov commented on #5
I've changed the order of commands a bit and it may fix the 0903 lock-up issue. It's still a shot in the dark though. If anyone is willing to test (run enroll a few times in a row to see) I'd appreciate it. Thanks!
https://github.com/iafilatov/libfprint/tree/elan-try-fix-0903

[2018-07-17 10:11] Mumrau commented on #5
I get into a "swipe too short loop" right after the first scan, without even touching the sensor.

[code]

And that happens pretty much forever.

Nonetheless, the sensor never ever ended up in a "locked" state.

[2018-07-17 10:33] mperochon opened #15 "Tried to access unknown option "drivers""
Hello,

when i tried to compile the library, i have this mistake :

-lusb-1.0
Native dependency libusb-1.0 found: YES 1.0.21
Running compile:
Working directory:  /tmp/tmp_qskrjw6
Command line:  cc /tmp/tmp_qskrjw6/testfile.c -pipe -D_FILE_OFFSET_BITS=64 -o /tmp/tmp_qskrjw6/output.exe -O0 -Wl,--start-group -lm -Wl,--end-group
Code:
 int main(int argc, char **argv) { return 0; }
Compiler stdout:
Com

[2018-07-17 10:38] iafilatov commented on #5
@Mumrau Could you please post or send me the entire enroll log?

[2018-07-17 10:50] andyclegg commented on #5
Using elan-try-fix-0903, I get 'Scan your finger now' very quickly followed
by the 'Your swipe was too short, please try again.' message, in a loop. It
seems like this only happens the second time onwards, so perhaps its not
clearing an error code properly? If I react very quickly after the 'scan
your finger now', I can often get a successful enrolment.

On Tue, 17 Jul 2018 at 11:38 Igor Filatov <

[2018-07-17 15:17] iafilatov commented on #5
I pushed something else, please try again.

[2018-07-17 16:21] andyclegg commented on #5
With that latest commit (4bc99b), the fast loop has gone and enrolment
seems to work successfully.

On Tue, 17 Jul 2018 at 16:17 Igor Filatov <notifications@github.com> wrote:

[2018-07-17 17:37] iafilatov commented on #15
Could you please post the entire output of `meson builddir`? And of `meson configure builddir` as well.

[2018-07-18 09:53] Mumrau commented on #5
It seems working here too, no loop, enrolling successful.
It looks like I cannot get a single successful verification, but the bug itself looks fixed.

[2018-07-19 17:54] Grapsoidea opened #16 "f510ua(x510uar) linux does not see the scanner in lsusb"
Hello! Before and after installing libfprint (Everything was compiled without errors) in lsusb and lspci there is nothing like fingerprint. Windows 10 sees fingerprint (ACPI \ VEN_ELAN & DEV_7001), and in Linux only the touchpad (04f3:3057) in $ xinput. Can you advise something?

[2018-07-21 14:42] vasiliy-garenskikh commented on #2
Hi everyone, can u make full instruction?
I can't activate fingerprint on my Xiaomi mi notebook pro with Manjaro KDE, because Fingerprint GUI app doesn't see fingerprint module..

[2018-07-22 16:48] miroslav-lee opened #17 "Not device found"
I run command LD_LIBRARY_PATH=./libfprint/.libs/ fprint_demo and see message "Device not found" ((
![default](https://user-images.githubusercontent.com/24233384/43047946-32eb590a-8de8-11e8-8e83-d0d7c8cc195f.png)

Help me please((

[2018-07-22 17:52] iafilatov commented on #17
`LD_LIBRARY_PATH=./libfprint/.libs/` looks like what you had to set when building with autotools. If you build with meson in builddir, you need to run `LD_LIBRARY_PATH=libfprint fprint_demo` (note to self: update readme).

[2018-07-23 18:03] miroslav-lee commented on #17
Thanks, it`s works!))
But i don`t now, how setting login from fprint_demo or fingerprint gui?

[2018-07-23 18:10] iafilatov commented on #17
fprint_demo is basically just that - for demo purposes. Not for login etc. Not sure about fingerprint gui, never used it. I think earlier these progs used to share print data with system fprintd daemon but that has changed. You need fprintd and libpam-fprint for login. Once you have them, run fprintd-enroll. But first, make sure you can verify comfortably using i.e. fprint_demo. Otherwise logging

[2018-07-23 19:32] miroslav-lee commented on #17
![default](https://user-images.githubusercontent.com/24233384/43098620-4655f50a-8ec8-11e8-9f17-c21d6753d505.png)

It`s ok?

[2018-07-23 19:45] iafilatov commented on #17
fprintd-enroll is a tool that communicates with fprintd daemon, which in turn needs to be linked to the correct version of libfprint. So you shouldn't need LD_LIBRARY_PATH for fprintd-enroll. Instead, you need to install libfrint from this repo system-wide (`sudo ninja install`) and restart fprintd (depends on your distro, try `sudo service fprintd restart`). If it still doesn't work try `sudo ldc

[2018-07-27 16:09] LordJABA commented on #2
be sure to uninstall/purge the lib installed from system repos, I had the same  and this solved the issue. If you want I can give you trimmed bash_history dump on my successful attempt on kubuntu 18.04

[2018-08-10 07:58] #17 closed

[2018-08-10 07:58] #16 closed

[2018-08-13 08:13] gish94 opened #18 "Problem with fprintd-enroll"
I have done all things as in instructions and i can get my fingerprint image from
sudo ./examples/img_capture
but after ninja install, doing "apt install libpam-fprintd" and making fprintd-enroll i am getting "list_devices failed: No devices available"
what i am doing wrong?

here is my Elan device log from lsusb
Bus 001 Device 003: ID 04f3:0c1a Elan Microelectronics Corp.

[2018-08-13 10:00] iafilatov commented on #18
Right after you you install all the required packages and libfprint you may need to
1. restart frpintd to link against the correct version of libfprint: `sudo service fprintd restart`
2. if the above doesn't work, check that linker picks the correct version:
`ldd /usr/lib/fprintd/fprintd | grep libfprint`
It should show something like
`libfprint.so.0 => /usr/local/lib/libfprint.so.0 (0x00007fae2d7

[2018-08-15 07:39] daaru00 opened #19 "Great job!"
Many many thanks for your job!
I successfully configured my Xiaomi Notebook Pro to log in with fingerprint, I'm really happy :smile: :tada:

for other users with my same hardware, I can say that it works:
[code]

[2018-08-15 07:46] #19 closed

[2018-08-15 08:32] iafilatov commented on #19
Thank you!

[2018-08-21 13:38] frlacf opened #20 "Fingerprint not reliable"
Hi,
first of all, thank you for your great work.

Concerning the problem, I find the reader very unreliable, I did the fprint-enroll about 20 times and still can't get a single match with fprint-verify. I think the problem come from the fingerprint reader itself: it is not made for a ''Swipe'' finger identification. The size of the reader (about 1cm by 1cm) makes it more appropriate for ''single s

[2018-08-21 14:00] iafilatov commented on #20
Hi Francis, this is a [known problem](https://github.com/iafilatov/libfprint#common-problems) and unfortunately not much can be done at this point.

[2018-08-21 14:00] iafilatov commented on #18
Please reopen if the problem persists.

[2018-08-21 14:00] #18 closed

[2018-08-28 09:37] neslinesli93 commented on #11
Hi, I'm getting a similar problem: I can't get `fprintd-enroll` to work as it times out.
Here are the contents of `/var/log/syslog`:

[code]

I've installed this library as well as fprintd from source, so it looks like a problem on fprintd end.
Any idea?

[2018-08-28 13:49] neslinesli93 commented on #11
Well, eventually I solved this problem by building both fprintd and libfprint to `/usr` instead of `/usr/local`.

However I had to stop trying to integrate the fingerprint system inside PMA after noticing that maybe 1/20 tries is successful.
Is there really anything we can do?

[2018-08-28 15:29] neslinesli93 opened #21 "Unrecognized error code when running img_capture with Elan 04f3:0903"
Hi,
thanks for the project - awesome stuff!

I have been trying to setup the whole libfprint/fprintd stuff today on my zenbook ux430.
I've tried to run your examples as well, and while `verify` and `enroll` seem to work perfectly, I had a strange issue when running `img_capture`.

I am pasting the logs here:
[code]

It looks like `fp_dev_img_capture` is getting this weird 101 error code when calli

[2018-08-28 15:31] #20 closed, assigned to nobody

[2018-08-28 15:39] iafilatov commented on #11
@neslinesli93 Tries of what? What did you mean when you said "verify and enroll seem to work perfectly" in the #21?

[2018-08-28 15:53] iafilatov commented on #21
Hi,

Could you please post the entire output of `img_capture`?

[2018-08-28 17:03] neslinesli93 commented on #11
Tries of `fprintd-enroll`, but they happened before I learned I had to swipe my finger on the sensor, from top to bottom.

Using that technique, I manage to enroll my finger with no failed attempts, but then running `fprintd-verify` results in a lot of false negatives, annoyingly

[2018-08-28 17:04] neslinesli93 commented on #21
That is the entire output... should I try to compile with the debug flag to see if there are more logs?

[2018-08-28 17:06] iafilatov commented on #21
Oh I see.. please try elan-glib-2.50 branch, or better yet, master from https://gitlab.freedesktop.org/libfprint/libfprint

[2018-08-28 18:53] neslinesli93 commented on #21
Okay, I used the libfprint master, and this is the log `img_capture` produced when I quickly put my finger on the sensor and then remove it: https://pastebin.com/dTbpKgcv
The interesting line is `225`

[2018-08-28 19:07] iafilatov commented on #21
You need to swipe. The driver aborts because there's not enough frames (line 204).

[2018-08-28 19:22] neslinesli93 commented on #21
Why is swiping needed at all?
Please be patient, I'm just trying to understand a bit more what libfprint is about and how it's implemented.
I use my fingerprint sensor on Windows as well, and swiping is really not needed.

I've skimmed through the code, and it seems that image process stuff is done inside the `nbis` folder. Maybe that code needs high definition images/more images to work properly,

[2018-08-28 19:59] iafilatov commented on #21
There's a [note](https://github.com/iafilatov/libfprint#common-problems) in readme that describes the problem. It's not about resolution or number of images per se, it's just about the "area" of the print that's  available for processing. The whole point of swiping is to expand that area and capture more minutiae.

The algo you link to is also based on minutiae, so I assume it will have the same p

[2018-10-28 18:47] miroslav-lee opened #22 "After run command 'ninja', i noticed error"
I run commands:
[code]
But after `ninja`, I noticed error: `../libfprint/drivers/elan.c:827:2: error: implicit declaration of function ‘G_DEBUG_HERE’ [-Werror=implicit-function-declaration] `

[2018-10-28 19:21] iafilatov commented on #22
Are you building `elan-glib-2.50`? This looks similar to what you get when you build this branch with glib<2.50. Can you try `elan` branch? While were at it, can you also check your glib version (`pkg-config --modversion glib-2.0
`)?

[2018-10-28 19:25] miroslav-lee commented on #22
2.48.2

How I can update glib-2.0?

[2018-10-28 19:40] iafilatov commented on #22
First of all, I'd recommend you to try building `elan` (or the default `elan-github-msg`, they're the same) branch. If you tried that it should've failed but I've just pushed a fix so can you please try again?
As for updating glib, the best thing to do is to upgrade your linux distro to a newer version... glib is a core package so I really don't recommend trying to install a version that's not dis

[2018-10-28 20:03] miroslav-lee commented on #22
Is your [manual](https://github.com/iafilatov/libfprint/blob/elan-github-msg/README.md) actual?

[2018-10-29 07:57] iafilatov commented on #22
It is, although if your package manager contains a recent version of meson, building can be even simpler, e.g.
[code]
The problems section is, unfortunately, still valid. Except the 0x0903 bug, I think I've fixed it. At least I haven't had new reports for a while.

[2018-11-04 21:27] desamo opened #23 "elan fingerprint rotated reader bug"
i have an acer swift 5 2017
with an elantech reader 04f3:0c03
and the picture saved looks like this rotation example.
verify always fails.

[2018-11-09 00:15] blackICE19240 opened #24 "Will it ever be possible to change to touch input rather than swipe?"
I've just been having a lot of trouble with swipe in linux compared to touch in windows so I had to ask. I very much appreciate the work either way.

[2018-11-09 21:46] iafilatov commented on #24
That's how I did it from the start but it just didn't work. There's currently no way to make touch work any better with Elan than swipe.
https://github.com/iafilatov/libfprint#common-problems
https://github.com/iafilatov/libfprint/issues/21#issuecomment-416720525

[2018-11-09 21:46] #24 closed, assigned to nobody

[2018-11-09 21:47] iafilatov commented on #15
Please reopen if you still have compile errors.

[2018-11-09 21:47] #15 closed

[2018-11-09 21:48] #21 closed, assigned to nobody

[2018-11-24 14:40] iafilatov commented on #23
Thanks for the report! Unfortuantely, threre is still no way to configure the driver except by reading the device id. If you're comfortable with building from source, could you please try changing
https://github.com/iafilatov/libfprint/blob/elan-github-msg/libfprint/drivers/elan.h#L37
to `#define ELAN_NOT_ROTATED 0`?

[2018-12-10 14:05] kovalenp commented on #2
@LordJABA yes please, I wonder how I can enable fingerprint reader in 18.10

[2019-01-13 10:45] andreo-code opened #25 "Asus UX461UN | Unrecognized device"
Hey. I successfully installed your program on ubuntu 18.10. Unfortunately, my device is unrecognized on my new Asus UX461UN. I also realized that the lsusb | command grep -i elan does not show my fingerprint reader device info. Here is the thread about it https://ubuntuforums.org/showthread.php?t=2388793 . Unfortunately, I did not find any more information. I can not find any driver. What can you

[2019-01-13 11:11] iafilatov commented on #25
Hi Andrzej, it looks like your fingerprint sensor is connected to SPI bus. libfprint only supports USB devices at the moment so unfortunately this driver won't work for you. Sorry..

[2019-01-13 11:16] andreo-code commented on #25
Ok, it's hard. Thanks for your response.

[2019-01-13 11:16] #25 closed, assigned to nobody

[2019-01-28 14:01] Drun555 commented on #2
04f3 in Xiaomi Notebook Pro is completely unusable. Is here any moves in last months?

[2019-02-10 01:09] OmarNaghmouchi commented on #23
Hello,

Have tried the `#define ELAN_NOT_ROTATED 0` but i get always a weird image of my finger print after enrolling. I have an _acer F5_ too with an integrated rectangular finger print reader :dancer:

[2019-05-10 07:14] fransschreuder opened #27 "I own a 04f3:0903 (Asus Zenbook 430) and willing to hack"
Hi,
I just bought this new Zenbook with the 04f3:090 fingerprint reader and with the 0.99 version of libfprint the fingerprint reader works to some extent, it sometimes successfully enrolls, but most of the time exits with: enroll-unknown-error.

I can program / hack / test, just need some pointers on where to start.
I don't know whether I better start here, or with the official libfprint repo, I

[2019-05-12 14:33] #22 closed, assigned to nobody

[2019-05-12 14:33] #5 closed

[2019-05-12 14:43] iafilatov commented on #27
Hey Frans,

Your symptoms sound like [small sensor problem](https://github.com/iafilatov/libfprint#common-problems). Or, less likely, a [rotated sensor](https://github.com/iafilatov/libfprint/issues/23). See the log snippet to find out how many minutiae libfprint is able to detect (you probably want to pipe and grep "minutiae" - the log has become a lot less readable in recent releases). If it con

[2019-05-12 15:45] fransschreuder commented on #27
Thanks for the pointers. I will have a look into it.
I can actually log in now with the fingerprint sensor, but it is a bit unreliable, I often have to try a couple of times.

[2019-05-28 21:03] #27 closed, assigned to nobody

[2019-06-13 04:56] nieltg opened #29 "Lockout after cancelling enroll or verify operation"
I own `04f3:0903` too. Thanks for this ELAN driver. Now I can log in with the fingerprint. I learned how to get a good fingerprint scan by using [gtk-libfprint-test](https://gitlab.freedesktop.org/libfprint/libfprint/tree/66891274a7fbfb7b0c97c271aebad87a083bc612/demo) and match it with the sample images provided in this repository.

Here is what I learned:
- Swipe down, not swipe up.
- Touch gentl

[2019-06-13 08:40] iafilatov commented on #29
Hey Daniel, good to hear that it works for you, especially 0903. The direction of swipe used to matter a while ago when there was a bug in the assembling code and one direction worked better than the other. But it could be just that it's easier for you to consistently swipe down than up on your laptop. Which is ok too.

I'm away from my device at the moment so I cant reproduce this issue but I'm g

[2019-07-14 13:13] iafilatov commented on #29
I found the change upstream that brought this bug but apparently it was fixing other bugs, so I'm not realy sure how to solve this. For now one thing I can say is, this has never been an issue for me when using fingerprint for login, sudo etc. fprintd daemon never seems to cancel the process the way it happens when you Ctrl+C the `frpintd-*` commands.

[2019-07-15 06:30] nieltg commented on #29
Okay, than I should report this to the upstream repository.

Thank you very much, @iafilatov

[2019-07-15 06:30] #29 closed, assigned to nobody

[2019-07-19 19:19] gardner opened #30 "Logs from 0903 while not crashing"
### Host
Debian Buster:
`Linux renegade 4.19.0-5-amd64 #1 SMP Debian 4.19.37-5 (2019-06-19) x86_64 GNU/Linux`

ASUS UX430U:
`Bus 001 Device 004: ID 04f3:0903 Elan Microelectronics Corp.`

### Enroll
[code]
STDERR: [enroll.txt](https://github.com/iafilatov/libfprint/files/3412407/enroll.txt)

### Verify (fails)
$ sudo examples/verify 2> verify.txt
Found device claimed by ElanTech Fingerprint Sensor

[2019-11-17 04:22] handbye commented on #19
@daaru00 hello, my computer is xiaomi Notebook Pro , when i run command `sudo examples/verify` some error is appar. can you help me? thanks!
[code]

[2019-11-17 04:23] handbye opened #31 "when i run command sudo examples/verify some error is appar."
[code]

[2019-11-20 22:17] iafilatov commented on #31
It says it cannot find an image of fingerprint on your disk to compare with (to "verify" against). Did you run examples/enroll?

Also, this repo is really old and I'm not updating it. It's better to try stuff in the upstream libfprint https://gitlab.freedesktop.org/libfprint/libfprint

[2019-11-21 06:15] handbye commented on #31
I have run examples/enroll  and i will try new repo. if succeeful  i'll give you feedback! thanks!

[2019-11-26 14:46] handbye commented on #31
problem solved

[2019-11-26 14:46] #31 closed, assigned to nobody

[2019-12-09 18:41] lauchokyip opened #32 "0903 not recognize by fprint"
I followed all the instructions on github and I tried all the examples. It all works but fprint is not recognizing my devices.
[code]
Here is my lsusb
[code]

Log file:
[code]

[2019-12-09 18:55] iafilatov commented on #32
This looks like a log from `examples/img_capture` which doesn't do anything except writing images to finger.pgm and finger_standardized.pgm (in case of elan they are the identical). The log is fine but the images themselves are likely not because 0903 has a small sensor, see [common problems](https://github.com/iafilatov/libfprint/blob/elan-github-msg/README.md#common-problems).
Going forward, ple

[2020-04-09 15:10] gunferzs opened #33 "[fp_dev_img_capture] unrecognised return code -74"
I followed all the instructions on github and I get error -74. And device is unrecognize all fprint.
lsusb:

Call sudo example/img-capture:

[2020-04-09 17:32] iafilatov commented on #33
This code is rather old. You should try https://gitlab.freedesktop.org/libfprint/libfprint. But I can't say if it will work because your reader is returning an unexpected value for a certain command.

[2020-04-26 00:03] andirsun commented on #2
Bro I have The same laptop, how can I activate my fingerprint with fingerprint gui ? im in elementary os

[2020-05-05 11:13] initzx opened #34 "libfprint.so.0: cannot open shared object file: No such file or directory"
Hi, I am getting this error when i execute fingerprint-identifier or fingerprint-gui.

I have been able to enroll my fingerprint with fprintd-enroll and verify it with fprintd-verify.

How do I fix this?

I have a thinkpad t490s running on kernel 5.6.8-arch1-1.

[2020-05-20 20:20] iafilatov commented on #34
Looks like you haven't installed libfprint after building it: `sudo ninja install`. If you did that then maybe the shared lib cache hasn't been updated. The safest thing to do is to restart. If it doesn't help, you need to check whether the install prefix, most likely `/usr/local/lib`, is included in library search path. See `/etc/ld.so.conf` and/or `/etc/ld.so.conf.d/`.

Another thing to try is t

[2020-05-28 07:37] Man-Jain commented on #12
Hey Can you confirm if this worked for you ? @FliiFe

[2020-05-28 07:39] tjbcg commented on #12
It has not, I have yet to get this sensor to work @Man-Jain

[2020-05-28 07:48] Man-Jain commented on #12
Oh! Thanks

[2020-05-30 14:29] initzx commented on #34
Hello, it seems that the problem is related to the filename of the object file.

I have libfprint-2.so, but not libfprint.so.0

Aliasing libfprint-2.so does not work very well either.

[2020-05-31 11:16] Leatherface75 commented on #12
Same problem here and it doesn't even show in lsusb

Bus 001 Device 004: ID 13d3:3526 IMC Networks
Bus 001 Device 003: ID 13d3:5a07 IMC Networks
Bus 001 Device 002: ID 046d:c01e Logitech, Inc. MX518 Optical Mouse
Bus 001 Device 001: ID 1d6b:0002 Linux Foundation 2.0 root hub

[    5.706807] i2c_hid i2c-ELAN1300:00: i2c-ELAN1300:00 supply vddl not found, using dummy regulator
[    7.495469] input:

[2020-06-16 19:53] gghati opened #35 "where to find finger.pgm?"
after doing "sudo examples/img_capture", how to open finger.pgm, and where can I found it? what to do from that file?

[2020-06-17 07:54] iafilatov commented on #35
It should be in your working dir. If the build dir is `libfprint/build`, try `find libfprint/build -name *.pgm`. You can open it with an image viewer and see the raw image captured by your reader.

[2020-06-17 18:18] #35 closed, assigned to nobody

[2020-08-10 20:39] mincrmatt12 commented on #12
I have a prototype driver for these sensors on my fork of libfprint at [mincrmatt12/libfprint](https://github.com/mincrmatt12/libfprint/tree/mincrmatt12/elan-spi), although because these sensors talk via an amalgamation of SPI and vendor-defined HID commands it requires a bit of system setup to get working (see the README [here](https://github.com/mincrmatt12/elan-spi-fingerprint)). It works for t

[2021-01-15 16:43] nibirrayy opened #36 "Making the drivers work on 96x96 sensor"
I have a square sensor but I don't know if it is the 96x96 sensor but what I can tell is that the driver doesn't detect my finger print correctly or even if it does in some rare cases it is not sufficient to authenticate.

Is there is a way to make it work?

[2021-01-15 16:55] devmrfitz commented on #36
I'm also having the same issue

[2021-01-15 21:37] iafilatov commented on #36
If the scanner is recognized but enrolling and/or recognizing doesn't work well, then likely nothing can be done https://github.com/iafilatov/libfprint#common-problems

[2021-01-16 06:24] nibirrayy commented on #36
is there any other algorithm that we can use or can we create an image from another sensor and put it to use?

I just want the sensor to work like it does on windows

[2021-01-17 17:59] iafilatov commented on #36
None that I know of that's available and fits libfprint's license. You can follow the development in the main repo at https://gitlab.freedesktop.org/libfprint/libfprint. It's quite lively and this problem is known. On windows a proprietary driver with a proprietary algo is used (actually, I think the algo is not even a part of the driver at all).

[2021-01-18 03:20] devmrfitz commented on #36
Is there any proprietary algo available that I can myself compile with
libfprint?

On Sun, Jan 17, 2021 at 11:29 PM Igor Filatov <notifications@github.com>
wrote:

[2021-01-27 15:05] AlecsFerra opened #37 "Support for 04f3:30c6"
Is this device supported? If not it's easy to path this fork and adding support for this device?

[2021-01-27 15:20] AlecsFerra commented on #37
I have already tried the steps suggested in the read me, the compilation succedes but when I try the example I get this

[code]

[2021-01-27 21:38] iafilatov commented on #36
Again, none that I'm aware of.

[2021-04-08 14:31] devmrfitz commented on #36
Any updates on this issue?

[2021-04-09 12:36] nibirrayy commented on #36
@devmrfitz no update so far just stop using the sensor and didn't try anything new

[2021-04-15 11:26] huuhaa opened #38 "[request] Support for Synaptics 06cb:00da"
Would be great if this fingerprintreader would get support.

lsusb -v

Bus 003 Device 004: ID 06cb:00da Synaptics, Inc.
Couldn't open device, some information will be missing
Device Descriptor:
  bLength                18
  bDescriptorType         1
  bcdUSB               2.00
  bDeviceClass          255 Vendor Specific Class
  bDeviceSubClass        16
  bDeviceProtocol       255
  bMaxPacketSize

[2021-06-21 18:28] UnSstrennen opened #39 "Support for 04f3:0c4b"
`ID 04f3:0c4b Elan Microelectronics Corp. ELAN:Fingerprint`

Your solve will be unique, because I found out so many sites&repos(

That ID is mounted on Lenovo ThinkPads.

[2021-08-12 19:30] ghost opened #40 "Support for Elan 04f3:0c58 for Linux?"

[2021-08-18 14:51] jacklu333333 opened #41 "SPI device not detected"
Hi, I am using Asus Flip S UX370UAF with ArchLinux. When I tried to list available devices, there were none.
However with cmd
`cat /sys/bus/acpi/devices/*/path | grep "\.SPI\|\.FPNT"`

I have output
[code]
Is there any way I can modify the code to get it to work?

Thanks in advance.
Jack Lu

[2021-11-10 07:32] #40 closed, assigned to nobody

[2021-11-10 07:32] ghost commented on #40
.

[2021-11-12 10:55] XelXen commented on #39
Even I am facing that issue, i am trying other branches

[2021-12-06 07:16] listout commented on #39
@XelXen  Same, I tried build the driver from source. Not working.

[2021-12-08 22:16] p-patil commented on #39
I also tried building from source and manually adding this product ID to the table. Couldn't get `examples/img_capture` to work, and saw this at the end of the logs:
[code]
I have a ThinkBook 14, which uses this fingerprint sensor.

[2021-12-10 15:05] gaetan1903 commented on #36
Same issue

[2021-12-15 08:39] listout commented on #39
@UnSstrennen Any clues. @iafilatov says that the devices line could be supported (quote). I would like to work on this if there was any help from the maintainers.

However the on libprintf's gitlab they mentioned something about reverse engineering being required for support.

[2022-02-09 12:00] ArtemPavliukovich opened #42 "04f3:0c00 Elan Microelectronics Corp. ELAN:ARM-M4"
This device isn't available, how I can fix it?

[2022-02-09 12:38] iafilatov commented on #42
Try https://github.com/iafilatov/libfprint#unrecognized-devices

Also, it's better to use the official repo https://gitlab.freedesktop.org/libfprint/libfprint

[2022-06-14 06:53] jackfido commented on #39
I have the same issue with this driver too, I have to run example/img_capture

`(venv) user@host:~/Downloads/libfprint-elan-github-msg/builddir_dbg$ examples/img_capture
fp:debug [fp_init]
fp:debug [register_driver] registered driver upekts
fp:debug [register_driver] registered driver aes3500
fp:debug [register_driver] registered driver aes4000
fp:debug [register_driver] registered driver aes2501

[2022-06-14 07:17] XelXen commented on #39
I read about the driver support for 04f3:0c4b on thier gitlab but found out that it is not supported yet

[2022-06-14 07:19] listout commented on #39
@XelXen It's most probably never will be supported (requires a lot of work).

On Tue, Jun 14, 2022 at 12:47 PM XelXen ***@***.***> wrote:

[2022-06-14 07:19] XelXen commented on #39
@listout elan drivers are closed Source I guess which is why they need reverse engineering to make an open source driver for it

[2022-06-14 07:23] listout commented on #39
Yeah. The people who were successful in reverse engineering  used to
sniff packets using wireshark and then decrypt those packets. Although
I'm not an expert, I have just seen people do it that way.
If I knew how to do it, maybe I could give it a try since I've some
free time at hand now.

On Tue, Jun 14, 2022 at 12:49 PM XelXen ***@***.***> wrote:

[2022-06-14 07:24] XelXen commented on #39
@listout the worst part is that our device was unlucky to get the support

[2022-06-14 11:59] UnSstrennen commented on #39
@XelXen @listout but it works on Windows devices!

[2022-06-14 12:04] listout commented on #39
@UnSstrennen I know, I'm sure we all here know that. But that driver is closed source. libprintf have very recently added this device to their supported devices list. It's working, but not properly. So I guess we are heading in the right direction.

@XelXen Look at this merge request https://gitlab.freedesktop.org/libfprint/libfprint/-/merge_requests/356 and https://fprint.freedesktop.org/supporte

[2022-06-16 03:53] XelXen commented on #39
@UnSstrennen the drivers used on windows are official Elan FP Drivers. Libfprint team is just reverse-engineering the workings of the closed-source driver to port it to Linux and sadly our device hasn't been ported yet

[2022-06-16 03:54] XelXen commented on #39
@listout Looks like u found a miracle, maybe we can reinstall libfprint and check if we got the support. The commit was merged 2 months ago but I tested it 8 months ago so we can try

[2022-06-16 04:35] listout commented on #39
@XelXen I've tested the latest release, it's not good. The guy who made the change just made sure that it works and thats about it. If you look at the gitlab thread, you can see that other people have tested it voiced their opinion. My experience is same as  those people. Verification still doesn't work.

Don't know why the developers though it was good enough to merge into a release :/

[2022-06-16 04:41] XelXen commented on #39
@listout what were the issues you faced?

[2022-06-16 04:43] listout commented on #39
- The enrollment is not perfect, does not work every time.
- I could not get verification to work, can't verify once enrolled.
- The image captured was not perfect.

[2022-06-16 05:19] XelXen commented on #39
@listout We can just wait till the patches come out

[2022-06-16 05:20] listout commented on #39
Yeah, but things are headed in right direction

On Thu, 16 Jun 2022, 10:49 am XelXen, ***@***.***> wrote:

[2022-06-16 05:29] XelXen commented on #39
@listout if that's the case then I'm gonna wait for devs

[2022-06-20 15:34] rishisni commented on #37
I am facing the same issue in my laptop. My laptop modes in `Xiaomi Notebook Ultra`, and following is the output of `lsusb` command.

[code]

`examples/img_capture` returns same output as @AlecsFerra.

Was it solved for you @AlecsFerra ?
Can anyone help me with this?

[2022-10-11 07:20] listout commented on #39
@XelXen definitely unlucky. I bought my ThinkPad E14 back in september and
included the FP option. If I had known this model of FP was not supported I
would have opted out of that, since I primarily use Linux.

On Tue, Jun 14, 2022 at 12:54 PM XelXen ***@***.***> wrote:

[2022-10-11 14:06] UnSstrennen commented on #39
https://gitlab.freedesktop.org/libfprint/libfprint/-/issues/285